@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/golostext/v7/q5uXsoe9Lv5t7Meb31EcOR9UdVTNs822plW2Qj5fGLg.woff) format('woff');
}
