@font-face {
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/l/font?kit=q5uXsoe9Lv5t7Meb31EcOR9UdVTNs822plW2Qj5fGLo&skey=f2913e9c409e508d&v=v7);
}
